/*!
 * Start Bootstrap - Shop Homepage (https://startbootstrap.com/template-overviews/shop-homepage)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-shop-homepage/blob/master/LICENSE)
 */

body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-caption {
    position: absolute;
    right: 30%;
    bottom: 20px;
    left: 30%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #000; 
    text-align: center;
}

.portfolio-item {
  margin-bottom: 30px;
}


.card-login {
  max-width: 25rem; }

.card-register {
  max-width: 35rem; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: inherit;
}

.navbar-logo{
  width: 15%;
}
img.navbar-logo{
  width: 100%;
}

.transparent-dark{
  background-color: #f3f3f3;
  opacity: 0.7;
}

.hidden{
  display: none;
}